html, body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(80, 80, 80);
}

#MenuPrincipale {
    width: auto;
    height: 75px;
}
#En-tete {
    width: auto;
    position: relative;
    overflow: auto;
    height: 70px;
    border-bottom: 5px solid; /*Taille de la bordure*/
    border-color:aquamarine; /*Couleur de la bordure*/
    background-color: silver; /*Couleur de la div*/
}
.LeftArrow {
    width: 75px;
    display: inline-block;
    height: 65px;
}
.ParagrapheMenu {
    width: fit-content;
    display: inline-block;
    position: relative;
    left: 15px;
}
#ConceptionSite {
    width: 50%;
    float: left;
    height: 285px;
    background-image: url("../images/presentation.png");
    background-position: 50%;
    text-shadow: 2px 2px 4px #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.ConceptionParagraphe {
    font-size: 25px;
    position: relative;
    margin: 0;
    padding: 0;
    width: fit-content;
    top: 125px;
    left: 85px;
}
#HebergementSite {
    width: 50%;
    float: right;
    height: 285px;
    background-image: url("../images/presentation.png");
    background-position: 50%;
    text-shadow: 2px 2px 4px #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.HebergementParagraphe {
    font-size: 25px;
    position: relative;
    margin: 0;
    padding: 0;
    width: 95%;
    top: 125px;
    left: 17px;
}
#AdresseHebergeur {
    width: 50%;
    float: left;
    height: 285px;
    background-image: url("../images/presentation.png");
    background-position: 50%;
    text-shadow: 2px 2px 4px #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.AdresseParagraphe {
    font-size: 20px;
    position: relative;
    margin: 0;
    padding: 0;
    width: 85%;
    top: 125px;
    left: 50px;
}
#TelephoneHebergeur {
    width: 50%;
    float: right;
    height: 285px;
    background-image: url("../images/presentation.png");
    background-position: 50%;
    text-shadow: 2px 2px 4px #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.TelephoneParagraphe {
    font-size: 20px;
    position: relative;
    margin: 0;
    padding: 0;
    width: 85%;
    top: 125px;
    left: 45px;
}
#ResponsabiliteSite {
    width: 50%;
    float: left;
    height: 285px;
    background-image: url("../images/presentation.png");
    background-position: 50%;
    text-shadow: 2px 2px 4px #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.ResponsabiliteParagraphe {
    font-size: 20px;
    width: 525px;
    position: relative;
    margin: 0;
    padding: 0;
    top: 85px;
    left: 85px;
}
#RGPDSite {
    width: 50%;
    float: right;
    height: 285px;
    background-image: url("../images/presentation.png");
    background-position: 50%;
    text-shadow: 2px 2px 4px #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.ParagrapheRGPD {
    font-size: 20px;
    width: 525px;
    position: relative;
    margin: 0;
    padding: 0;
    top: 85px;
    left: 85px;
}
#LienRLL {
    width: 100%;
    height: 255px;
    background-image: url("../images/presentation.png");
    background-position: 50%;
    text-shadow: 2px 2px 4px #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.ParagrapheRLL {
    font-size: 25px;
    width: 525px;
    position: relative;
    margin: 0;
    display: inline-block;
    padding: 0;
    top: 50px;
}
#CopyRightsContainer {
    width: 100%;
    height: 255px;
    background-image: url("../images/presentation.png");
    background-position: 50%;
    text-shadow: 2px 2px 4px #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.CopyRightsParagraphe {
    font-size: 20px;
    width: 60%;
    position: relative;
    margin: 0;
    display: inline-block;
    padding: 0;
    top: 50px;
}
hr {
    height:3px; 
    background-color:blue;
}